# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

.DS_Store
.vscode/

# dependencies
/node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package.json-lock

*.orig
package-lock.json
.env
ios/build/
ios/main.jsbundle
ios/main.jsbundle.meta
ios/MovieDB.xcodeproj/project.xcworkspace/*
ios/MovieDB.xcodeproj/xcuserdata/*
android/app/build
android/build
android/.gradle/
